@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background: #1d1d1d;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
}
.root {
  width: 100%;
  background: none;
}
.col-lg-5 {
  margin-top: 100px;
}

.boton_redondo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: #4aa0ec;
  border-style: solid;
  
}
.centrar{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.nosubrayar{
  text-align: center;
}

.nosubrayar:hover{
  text-decoration: none;
}

.nav-item {
  background: #1db954;
  margin-top: 100px;
  color: rgb(245, 249, 253);
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  border-radius: 40px;
}

.nav-item:hover {
  background: #22a14f;
  transition: all 0.3s;
  color: rgb(245, 249, 253);
}
.aaa {
  color: rgb(245, 249, 253);
}
.aaa:hover {
  text-decoration: none;
  color: rgb(245, 249, 253);
}

.bienvenido {
  color: rgb(245, 249, 253);
  margin-bottom: 20px;
  margin-left: 0px;
}

.btn_login {
  background: #1db954;
  margin-top: 150px;
  border-radius: 40px;
  border: none;
  margin: auto;
  padding: 15px;
}

.btn_login:hover {
  background: #3275b0;
  transition: all 0.3s;
}
.btn_login-i {
  margin-top: 50px;
  background: #1db954;
  border-radius: 80px;
  border: none;
  padding: 15px;
}
.btn_login-i:hover {
  background: #3275b0;
  transition: all 0.3s;
}
.titulo,
.subtitulo {
  color: rgb(245, 249, 253);
  text-align: center;
  line-height: 1em;
}
.can {
  color: rgb(245, 249, 253);
  line-height: 1em;
  font-size: 15px;
  margin-left: 10px;
}
.titulo {
  margin-top: 20px;
  border-bottom: 1px solid #1db954;
}
.subtitulo {
  margin-top: 10px;
}
label {
  color: rgb(245, 249, 253);
  margin-top: 20px;
}
.form-control {
  border: none;
  background: rgba(250, 249, 249, 0.863);
  border-radius: 40px;
}

.buscar {
  background: #1db954;
  margin-top: 100px;
  color: rgb(245, 249, 253);
  border-radius: 40px;
  border: none;
  margin: auto;
}
.buscar:hover {
  background: #22a14f;
  transition: all 0.3s;
  color: rgb(245, 249, 253);
}
.boton {
  padding: 10px;
  margin: 16em 0 0 10vw;
  background: #1db954;
  color: rgb(245, 249, 253);
  border-radius: 40px;
  border: none;
}
.boton:hover {
  background: #22a14f;
  transition: all 0.3s;
}
.nav-react {
  background: #1db954;
}
.nav-react-logo {
  color: rgb(245, 249, 253) !important;
}
.logo-sp {
  width: 40px;
  filter: brightness(100);
  margin-right: 5px;
}
.contenedor {
  text-align: center;
  margin-top: 10vh;
}
.user_img-i:hover {
  filter: grayscale(100);
  transition: all 0.3s;
}
.col-lg-7 {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.contenedor_1 {
  position: relative;
}
.nombre {
  color: #1db954;
  margin-top: 20px;
}

.form-control {
  margin-top: 10px;
}
.col-md-12 p {
  color: rgb(245, 249, 253);
}
.user_img {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
}
.user_img:hover {
  filter: grayscale(100);
  transition: all 0.3s;
}
.user_img-i {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  margin: 1vw 0 0 0vw;
}
.titulo-cop {
  color: rgb(245, 249, 253);
  font-size: 60px;
}
.logo-sp-i {
  width: 60px;
  filter: brightness(100);
}
.image-center {
  margin: auto;
  height: 400px;
  width: 400px;
}
.informacion {
  position: absolute;
  margin-top: 18vw;
}
.user_img_p {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 550px;
}
.nombre_p {
  color: #1db954;
  margin-top: 20px;
  margin-left: 450px;
}
.nombre_per {
  color: #1db954;
  margin-top: 20px;
  margin-left: 400px;
}
.informacion_per {
  position: absolute;
  margin-top: 200px;
  margin-left: 80px;
}
.informacion_p {
  position: absolute;
  margin-top: 200px;
  margin-left: 80px;
}
.user_img_p:hover {
  filter: grayscale(100);
  transition: all 0.3s;
}
@media screen and (max-width: 1079px) {
  .informacion {
    font-size: 12px;
    margin-top: 200px;
  }
  .user_img {
    margin-left: 300px;
  }
}
@media screen and (max-width: 997px) {
  .informacion_p {
    font-size: 12px;
    margin-top: 510px;
    margin-left: 0;
  }
  .user_img_p {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-left: 0;
    margin: auto;
  }
  .col-md-12 {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
  }
  .nombre_p {
    margin-left: 0;
    margin-top: 0;
  }
  .col-sm-6 {
    margin-right: 30px;
  }
  .offset-md-1 div img {
    margin-top: 20px;
  }
}
p span {
  color: #1db954;
}
@media screen and (max-width: 406px) {
  .informacion {
    margin-left: 4vw;
  }
  .user_img {
    margin-left: 3vw;
  }
}
p span {
  color: #1db954;
}
.container {
  width: 100vw;
}
.row_user {
  display: flex;
  justify-content: center;
}
.list-group-item {
  background: #363736;
  color: rgb(245, 249, 253);
}
.list-group-item:hover {
  background: #1db954;
}

.list-group-item-light.list-group-item-action:focus,
.list-group-item-light.list-group-item-action:hover {
  background: #1db954;
  color: rgb(245, 249, 253);
  transition: all 0.3s;
}
@media screen and (max-width: 475px) {
  .row {
    justify-content: center;
  }
  .image-center{
    width: 300px;
    height: 300px;
  }
}

.root{
  width: 120vw !important;
}