<!doctype html>
<html>

<head>
  <title>Autorice su cuenta de Spotify</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style type="text/css">
    body {
      background: #1d1d1d;
      font-family: "Poppins", sans-serif;
      overflow-x: hidden;
    }

    .h1 {
      color: white;
      font-size: 30px;
    }

    .contenedor {
      text-align: center;
    }

    .col-lg-7 {
      display: flex;
      justify-items: center;
      justify-content: center;
    }

    .user_img-i {
      border-radius: 50%;
      height: 30vw;
      width: 30vw;
    }

    .user_img-i:hover {
      filter: grayscale(100);
      transition: all 0.3s;
    }

    .col-lg-5 {
      margin-top: 100px;
    }

    .btn_login-i {
      margin-top: 50px;
      background: #1db954;
      border-radius: 80px;
      border: none;
      padding: 15px;
      margin-left: -40px;
    }

    .btn_login-i:hover {
      background: #3275b0;
      transition: all 0.3s;
    }

    .aaa {
      color: rgb(245, 249, 253);
      text-decoration: none;
      font-size: 15px;
    }

    .aaa:hover {
      color: rgb(245, 249, 253);
      text-decoration: none;
    }

    .bienvenido {
      color: rgb(245, 249, 253);
      margin-bottom: 20px;
      margin-left: -40px;
      font-size: 50px;
    }

    .contenedor {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }

    @media screen and (max-width: 990px) {
      .bienvenido {
        margin: 0 10px;
        font-size: 28px;
      }

      .user_img-i {
        height: 230px;
        width: 230px;
      }

      .aaa {
        font-size: 20px;
      }

      .btn_login-i {
        margin-left: 0px;
      }

    }
  </style>
</head>

<body>
  <div class="contenedor">
    <div class="contenedor_user row">
      <div class="col-lg-7">
        <img class="user_img-i" src="https://campaigns-test.scdn.co/images/k-pop.png">
      </div>
      <div class="col-lg-5  form-group px-0">
        <h1 class="bienvenido">Autorice su cuenta de Spotify</h1>
        <button id="login" class="btn_login-i"><a class="aaa" href='/login'> Autorizar</a></button>
      </div>
    </div>
  </div>

  <script id="user-profile-template" type="text/x-handlebars-template">
      <h1>Logged in as {{display_name}}</h1>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
            <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
      </div>
    </script>

  <script id="oauth-template" type="text/x-handlebars-template">
    <h2>oAuth info</h2>
    <dl class="dl-horizontal">
      <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
      <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}></dd>
    </dl>
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>
    (function () {

      /**
       * Obtains parameters from the hash of the URL
       * @return Object
       */
      function getHashParams() {
        var hashParams = {};
        var e, r = /([^&;=]+)=?([^&;]*)/g,
          q = window.location.hash.substring(1);
        while (e = r.exec(q)) {
          hashParams[e[1]] = decodeURIComponent(e[2]);
        }
        return hashParams;
      }

      var userProfileSource = document.getElementById('user-profile-template').innerHTML,
        userProfileTemplate = Handlebars.compile(userProfileSource),
        userProfilePlaceholder = document.getElementById('user-profile');

      var oauthSource = document.getElementById('oauth-template').innerHTML,
        oauthTemplate = Handlebars.compile(oauthSource),
        oauthPlaceholder = document.getElementById('oauth');

      var params = getHashParams();

      var access_token = params.access_token,
        refresh_token = params.refresh_token,
        error = params.error;

      if (error) {
        alert('There was an error during the authentication');
      } else {
        if (access_token) {
          // render oauth info
          oauthPlaceholder.innerHTML = oauthTemplate({
            access_token: access_token,
            refresh_token: refresh_token
          });

          $.ajax({
            url: 'https://api.spotify.com/v1/me',
            headers: {
              'Authorization': 'Bearer ' + access_token
            },
            success: function (response) {
              userProfilePlaceholder.innerHTML = userProfileTemplate(response);

              $('#login').hide();
              $('#loggedin').show();
            }
          });
        } else {
          // render initial screen
          $('#login').show();
          $('#loggedin').hide();
        }

        document.getElementById('obtain-new-token').addEventListener('click', function () {
          $.ajax({
            url: '/refresh_token',
            data: {
              'refresh_token': refresh_token
            }
          }).done(function (data) {
            access_token = data.access_token;
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });
          });
        }, false);
      }
    })();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>